<div id="list">
  <ul>
    <% @posts.each do |post| -%>
      <li><%= link_to post.comment, 'javascript:void(0)', :id => "post_comment_#{post.id}", :class => "post_comment" %></li>
    <% end -%>
  </ul>
</div>
<div id="map">
</div>
